html {
  /*font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Rubik', sans-serif;
  /*background-color: #E99E9E;*/
}


body{
  /* width: 900px; */
  width: 100%;
  color: #FFF;
  margin:0 auto;
}

#header{
  width: 100%;
  background-color: #425660;
  /* padding: 20px; */
  position: fixed;
}

#nav{
  /* background-color: #20292F; */
  /* padding: 5px; */
  /* position: fixed; */
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  width: 100%;
  margin-top: 60px;
}

#aside{
  text-align: left;
  background-color: #63808F;
  line-height: 1.5em;
  padding: 20px;
  color: #FFFFFF;
  flex: 1;
}

#section{
  background-color: #849DAA;
  text-align: left;
  line-height: 1.5em;
  padding: 20px;
  flex: 4;
}

#footer{
  padding:20px;
  background-color: #425660;
  clear: both;
}

h1{
  font-size: 24px;
  color: #FFF;
  text-align: center;
}

h2.little-title {
  font-size: 18px
}

main.container {
  display: flex;
}




nav > ul {
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(115, 115, 115);
    color: black;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

.inline-block-nav > li {
    display: inline-block;
}





