html {
  /*font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Rubik', sans-serif;
  /*background-color: #E99E9E;*/
}


body{
  width: 900px;
  color: #FFF;
  margin:0 auto;
}

#header{
  background-color: #425660;
  padding: 20px;
}

#nav{
  background-color: #20292F;
  /* padding: 5px; */
}

#aside{
  width: 200px;
  height: 300px;
  text-align: center;
  background-color: #63808F;
  padding:20px 10px;
  float: left;
}

#section{
  width: 640px;
  height: 300px;
  background-color: #849DAA;
  line-height: 1.5em;
  padding: 20px;
  float: right;
}

#footer{
  padding:20px;
  background-color: #425660;
  clear: both;
}

h1{
  font-size: 24px;
  color: #FFF;
  text-align: center;
}

h2.little-title {
  font-size: 18px
}






nav > ul {
    /* background-color: #20292F; */
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
    background-color: rgb(115, 115, 115);
    color: black;
}

.inline-block-nav {
    text-align: center;
    font-size: 0;   /* 移除 <li> 之間的空隙 */
}

.inline-block-nav > li {
    display: inline-block;
}





